In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('part-00000.csv')

df.head()

,encrypted_cnpj,encrypted_5_zipcode,encrypted_domain,cnae,cheque,crediario,credito,debito,deposito,dinheiro,transferencia
0,711e100ff690bde75f1d51c6e120,3162373836343536353430623937303763373938366431...,6139646137356433363237396637323937336161383832...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4a098a906a2665ddb6ca051beed9,3530366161376161303533636633333935636239663964...,6139646137356433363237396637323937336161383832...,NaN,0.0,0.0,0.006289,0.088050,0.0,0.90566,0.0
2,1e1ac070864ab84b577827593eea,3938623435356438366362666138373130643936636265...,6139646137356433363237396637323937336161383832...,NaN,0.0,0.0,0.058803,0.137967,0.0,0.80323,0.0
3,fb1cb37dd9253ea2cd62ea7873e1,3031623865306336323665636530313030326239386636...,6139646137356433363237396637323937336161383832...,4612500.0,1.0,0.0,0.000000,0.000000,0.0,0.00000,0.0
4,4376025158df6f2139ec8d03f795,6335616165626335316433323039616335386334353133...,6139646137356433363237396637323937336161383832...,NaN,1.0,0.0,0.000000,0.000000,0.0,0.00000,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1630 entries, 0 to 1629
Data columns (total 11 columns):
encrypted_cnpj         1630 non-null object
encrypted_5_zipcode    1626 non-null object
encrypted_domain       1630 non-null object
cnae                   283 non-null float64
cheque                 1490 non-null float64
crediario              999 non-null float64
credito                1490 non-null float64
debito                 1490 non-null float64
deposito               1547 non-null float64
dinheiro               1490 non-null float64
transferencia          1547 non-null float64
dtypes: float64(8), object(3)
memory usage: 140.2+ KB

In [4]:
df.describe()

,cnae,cheque,crediario,credito,debito,deposito,dinheiro,transferencia
count,2.830000e+02,1490.000000,999.000000,1490.000000,1490.000000,1547.000000,1490.000000,1.547000e+03
mean,4.871866e+06,0.017519,0.052059,0.164875,0.244173,0.000020,0.170724,3.835251e-08
std,5.225976e+05,0.110263,0.222242,0.240024,0.318667,0.000440,0.351275,1.508478e-06
min,4.520004e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,4.729699e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
50%,4.732600e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
75%,4.772500e+06,0.000000,0.000000,0.307244,0.570452,0.000000,0.014893,0.000000e+00
max,9.511800e+06,1.000000,1.000000,1.000000,1.000000,0.015873,1.000000,5.933134e-05

In [7]:
df.count()

encrypted_cnpj         1630
encrypted_5_zipcode    1626
encrypted_domain       1630
cnae                    283
cheque                 1490
crediario               999
credito                1490
debito                 1490
deposito               1547
dinheiro               1490
transferencia          1547
dtype: int64

In [8]:
print(pd.isnull(df))

      encrypted_cnpj  encrypted_5_zipcode  encrypted_domain   cnae  cheque  \
0              False                False             False   True    True
1              False                False             False   True   False
2              False                False             False   True   False
3              False                False             False  False   False
4              False                False             False   True   False
5              False                False             False   True   False
6              False                False             False  False   False
7              False                False             False   True   False
8              False                False             False   True    True
9              False                False             False   True   False
10             False                False             False   True   False
11             False                False             False  False   False
12             False                False             False   True    True
13             False                False             False   True   False
14             False                False             False   True   False
15             False                False             False   True   False
16             False                False             False  False   False
17             False                False             False   True    True
18             False                False             False  False   False
19             False                False             False   True   False
20             False                False             False   True   False
21             False                False             False   True   False
22             False                False             False  False   False
23             False                False             False   True   False
24             False                False             False   True   False
25             False                False             False   True   False
26             False                False             False  False   False
27             False                False             False   True   False
28             False                False             False   True   False
29             False                False             False   True    True
...              ...                  ...               ...    ...     ...
1600           False                False             False   True   False
1601           False                False             False   True    True
1602           False                False             False   True    True
1603           False                False             False   True    True
1604           False                False             False   True    True
1605           False                False             False   True    True
1606           False                False             False   True    True
1607           False                False             False   True   False
1608           False                False             False   True   False
1609           False                False             False   True   False
1610           False                False             False   True   False
1611           False                False             False   True   False
1612           False                False             False   True   False
1613           False                False             False   True   False
1614           False                False             False   True   False
1615           False                False             False   True   False
1616           False                False             False   True   False
1617           False                False             False  False   False
1618           False                False             False   True   False
1619           False                False             False  False   False
1620           False                False             False   True   False
1621           False                False             False  False   False
1622           False                False             False   True   False
1623           False                False             False   True   False
1624           False                False             False   True   False
1625           False                False             False   True   False
1626           False                False             False   True   False
1627           False                False             False   True   False
1628           False                False             False   True   False
1629           False                False             False   True   False

      crediario  credito  debito  deposito  dinheiro  transferencia
0          True     True    True      True      True           True
1         False    False   False     False     False          False
2         False    False   False     False     False          False
3         False    False   False     False     False          False
4         False    False   False     False     False          False
5         False    False   False     False     False          False
6         False    False   False     False     False          False
7         False    False   False     False     False          False
8          True     True    True      True      True           True
9         False    False   False     False     False          False
10        False    False   False     False     False          False
11        False    False   False     False     False          False
12         True     True    True      True      True           True
13        False    False   False     False     False          False
14        False    False   False     False     False          False
15        False    False   False     False     False          False
16        False    False   False     False     False          False
17         True     True    True      True      True           True
18        False    False   False     False     False          False
19        False    False   False     False     False          False
20        False    False   False     False     False          False
21        False    False   False     False     False          False
22        False    False   False     False     False          False
23        False    False   False     False     False          False
24        False    False   False     False     False          False
25        False    False   False     False     False          False
26        False    False   False     False     False          False
27        False    False   False     False     False          False
28        False    False   False     False     False          False
29         True     True    True      True      True           True
...         ...      ...     ...       ...       ...            ...
1600      False    False   False     False     False          False
1601      False     True    True     False      True          False
1602      False     True    True     False      True          False
1603      False     True    True     False      True          False
1604      False     True    True     False      True          False
1605      False     True    True     False      True          False
1606      False     True    True     False      True          False
1607       True    False   False     False     False          False
1608       True    False   False     False     False          False
1609       True    False   False     False     False          False
1610       True    False   False     False     False          False
1611       True    False   False     False     False          False
1612       True    False   False     False     False          False
1613       True    False   False     False     False          False
1614       True    False   False     False     False          False
1615       True    False   False     False     False          False
1616       True    False   False     False     False          False
1617       True    False   False     False     False          False
1618       True    False   False     False     False          False
1619       True    False   False     False     False          False
1620       True    False   False     False     False          False
1621       True    False   False     False     False          False
1622       True    False   False     False     False          False
1623       True    False   False     False     False          False
1624       True    False   False     False     False          False
1625       True    False   False     False     False          False
1626       True    False   False     False     False          False
1627       True    False   False     False     False          False
1628       True    False   False     False     False          False
1629       True    False   False     False     False          False

[1630 rows x 11 columns]

In [9]:
print(df.duplicated())

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1600    False
1601    False
1602    False
1603    False
1604    False
1605    False
1606    False
1607    False
1608    False
1609    False
1610    False
1611    False
1612    False
1613    False
1614    False
1615    False
1616    False
1617    False
1618    False
1619    False
1620    False
1621    False
1622    False
1623    False
1624    False
1625    False
1626    False
1627    False
1628    False
1629    False
Length: 1630, dtype: bool